.container {

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 1630px;
  }
}

.container__wrap {
  padding-left: 0;
  padding-top: 75px;
  min-height: 100vh;
  transition: padding-left 0.3s;

  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }

  @media screen and (min-width: 576px) {
    padding-left: 250px;
  }
}

.layout {

  &.layout--collapse {

    & + .container__wrap {
      padding-left: 0;

      @media screen and (min-width: 576px) {
        padding-left: 281px;
      }
    }
  }

  &.layout--top-navigation{

    & + .container__wrap{

      @media screen and (min-width: 576px) {
        padding-left: 0;
      }
    }
  }
}


.landing__logo{
  width: 200px;
  top: -20px;
  display: block;
  position: relative;
}


.background_pink{
    
  @include themify($themes) {
    background-color: themed('coloPrimary');
  }
}


.widget__container{
    transform: rotate(20deg);
    position: absolute;
    width: 150%;
    left: -200px;
    z-index: -1;
    opacity : 0.6;
    margin-top : 130px;
}

.widget__container_2{
    transform: rotate(-20deg);
    position: absolute;
    width: 150%;
    left: 0px;
    opacity : 0.6;
    z-index: -1;
    margin-top: -200px;
}

.widget__landing{
    height: 250px;
    width: auto;
    border-radius: 10px; 
    float: left;
    margin: 30px;
    box-shadow: 1px 10px 100px 1px #ececec;
}


.landing__image__big_mockup{
    height: 350px;
    width: auto;
    position: absolute;
    border-radius: 10px;
    display: block;
    float: left;
    left: 70%;
    top: 50%;
    margin: 50px 0px;
    box-shadow: 1px 10px 100px 1px #cccccc;
}

.widget__features{
    height: 100px;
    width : auto;
    display: block;
    margin: auto;
}


.m-t-100{
    margin-top: 100px;
    padding-top: 100px;
}

.button__widget{
    border : none;
    background-color: transparent;
    margin: auto;
    display: block;
    position: relative;
}

.widget__choosen{
    background-color : #f2f4f7;
}


.widget__use{
    display: block;
    position: absolute;
    padding: 10px;
    top: -10px;
    left: 0px;
    border-radius: 50px;
    background-color: #805699;
    z-index: 1;
    color: white !important;
}

.widget__use__big{
    display: block;
    position: absolute;
    padding: 10px;
    top: 30px;
    left: 0px;
    border-radius: 50px;
    background-color: #805699;
    z-index: 1;
    color: white !important;
}