.todo {
  margin-bottom: 15px;
}

.todo__checkbox {

  input:checked ~ .todo__checkbox-label {
    color: $color-additional;
    text-decoration: line-through;
  }
}


.landing_other{
    font-size: 15px !important;
    text-align: left;
    padding: 0 !important;
}


.landing_other__text_white{
    font-size: 15px !important;
    text-align: left;
    color : white !important;
    padding: 0 !important;
}