.account {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;

  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }

  &.account--photo {
    background: url(../shared/img/404/bg_404.png) no-repeat center;
    background-size: cover;

    .account__card {
      background-color: rgba(0, 10, 16, 0.8);
      color: #ffffff;
    }

    .form__form-group-icon, .form__form-group-button {
      background: transparent;
    }

    .form__form-group-icon, input:not(:last-child) {
      border-right: none;
    }

    .form__form-group-button, input {
      border-left: none;
    }

    .form__form-group-button.active {
      border-color: #eff1f5;

      svg {
        fill: $color-accent;
      }
    }

    input {
      color: #ffffff;

      &:focus {
        border-color: #eff1f5;
      }
    }

    p {
      color: #ffffff;
    }

    .account__title {
      color: #ffffff;
    }
  }
}

.account__wrapper {
  margin: auto;
  padding: 10px;
}

.account__card {

  @include themify($themes) {
    background-color: themed('colorBackground');
  }

  background-color: #ffffff;
  padding: 50px 60px;
  max-width: 520px;
  width: 100%;
}

.account__profile {
  text-align: center;
}

.account__btns {
  display: flex;
  width: calc(100% + 10px);
  margin: -10px 0 -20px -10px;

  a {
    margin: 10px 0 20px 10px;
    white-space: nowrap;
  }
}

.account__btn {
  width: 100%;
  margin-right: 0;
}

.account__avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.account__name {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 15px;
  margin-top: 5px;
}

.account__sub {
  margin-top: 0;
  margin-bottom: 10px;
  color: $color-additional;
  font-size: 11px;
  line-height: 15px;
}

.account__forgot-password {
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  bottom: -18px;
  right: 0;

  a {
    color: $color-gray;

    &:hover {
      color: $color-gray;
      text-decoration: none;
    }
  }
}

.form__form-group--forgot {
  margin-bottom: 40px;
}

.account__or {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;

  &:before, &:after {
    content: "";
    height: 1px;
    width: calc(50% - 90px);
    background: #dddddd;
    position: absolute;
    top: 10px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.account__social {
  text-align: center;
}

.account__social-btn {
  display: inline-block;
  height: 38px;
  width: 38px;
  border-radius: 5px;
  padding: 9px;
  margin-right: 10px;
  transition: all 0.3s;
  border: none;

  &:last-child {
    margin-right: 0;
  }

  svg {
    fill: #ffffff;
    height: 20px;
    width: 20px;
  }

  &.account__social-btn--facebook {
    background: #4766a4;

    &:hover {
      background: darken(#4766a4, 10%);
    }
  }

  &.account__social-btn--google {
    background: #c74d4d;

    &:hover {
      background: darken(#c74d4d, 10%);
    }
  }
}

.account__head {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 4px solid $color-purple;
}

.account__logo {
  font-weight: 700;
}

.account__logo-accent {
  color: $color-blue;
}

.account__have-account {
  text-align: center;
  margin-top: 20px;

  a {
    color: $color-blue;
    transition: all 0.3s;

    &:hover {
      color: $color-blue-hover;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 520px) {

  .account__card {
    padding: 35px 30px;
  }
}

@media screen and (max-width: 425px) {

  .account__btns {
    flex-wrap: wrap;
  }
}


.avatar-name{
    font-size: 18px;
    text-align: left;
    margin-bottom: 0px;
    color: white !important;
}

.avatar-function{
    text-align: left;
    font-size: 14px;
    text-align: left;
    color: #41a9d8;
    margin-bottom: 5px;
    
}

.avatar-hand{
    color: white;
    margin-top: 0px;
    font-size: 10px;

}

.avatar-image{
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;   
    border-radius: 50px;
    position: relative;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
}
.avatar-image-box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 3px;
}
.avatar-box{
    margin: 20px;
    position: relative;
    width: 250px;
    display: block;
    transition: all 0.3s ease 0s;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
}

.avatar-box:hover{
    max-height: auto !important;
}

.avatar-box-front{
    max-height : 170px !important;
    transition: all 0.3s ease 0s;
    opacity : 1 !important;
    padding-bottom: 30px;
}

.avatar-box-front:hover{
    padding-bottom: 0px !important;
    max-height : 0px !important;
    transition: all 0.3s ease 0s;
    opacity : 0 !important;
}

.avatar-box-back{
    padding-right: 20px;
    transition: all 0.3s ease 0s;
}

.avatar-box-back:hover{
    transition: all 0.3s ease 0s;
}
.linkedin{
    width: 20px;
    position: absolute;
    left: 125px;
    top: 110px;
}
.user-title{
    position: absolute;
    bottom: 25px;
    font-size: 15px;
    left: 20px;
    color : #e2e2e2 !important;
}

.user-name{
    position: absolute;
    z-index: 100;
    font-size: 30px;
    color : white !important;
    bottom: 50px;
    left: 20px;
    line-height: 30px;
}

.advisor-name{
    font-size: 20px !important;
    max-width: 150px;
}

.user-image{
    border-radius: 10px;
}

.user-linkedin{
    bottom: 0px;
    position: absolute;
    left: -5px;
    width: 40px;
    top: 50px;
}
.background-pink{
    height: 100%;
    background: linear-gradient(359.6deg, #7C0C84 0.1%, rgba(251, 251, 251, 0.4) 99.66%);
}

.bpro-team-enter{
    width: 250px;
    /* height: 50px; */
    margin: 20px 100px;
    display: block;
    position: relative;
    z-index: 100;
    opacity: 0.2;
}


.linkedin-image{
    width: 20px;
    display: block;
    position: absolute;
    z-index: 1100;
    left: 0;
    top: 0;
    margin-left: -20px;
    margin-top: -30px;
}
.avatar-bio{
    font-size: 12px;
    text-align: left;
    color: #9bc3ff !important;
}


.avatar-cover{
    box-shadow: inset 0px 0px 40px rgba(68, 68, 68, 0.3);
    width: 300px;
    height: 320px;
    position: absolute;
    top: 0;
}
